/*  your css code here. If applicable */
 body {
            background-color: yellow;
            text-align: center;
        }
        .flower-info {
            margin-top: 20px;
            margin-bottom: 20px;
        }